.container {
  max-width: 1920px;
  padding: 50px 20px;
  margin: 0 auto;
  display: flex;
}

.content {
  max-width: 1500px;
  padding-left: 40px
}

.sidebar {
  width: 380px;
  min-height: 100%;
  background-color: rgb(199, 203, 255);
}

.link {
  text-decoration: none;
  color: #0077ff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.link:hover {
  opacity: 0.7;
}

.main-link {
  display: inline-block;
  position: relative;
  padding: 13px 70px 13px 40px;
  border: 1px solid #313131;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.main-link:hover {
  background-color: #0077ff;
  border-color: #0077FF;
  box-shadow: none;
  color: #fff;
}

.main-link svg {
  width: 24px;
  position: absolute;
  display: block;
  right: 14px;
  bottom: 0;
  top: 14px;
  transition: all 0.2s ease-in-out;
}

.main-link:hover svg {
  transform: translateX(3px) translateY(-3px);
}

.main-link:hover svg path {
  stroke: white;
}

.main-link--light {
  border-color: white;
  color: white;
}

.main-link--light:hover {
  color: #0077ff;
  background-color: white;
  border-color: white;
}

.main-link--light svg path {
  stroke: white;
}

.main-link--light:hover svg path {
  stroke: #0077ff;
}

.main-link--light:after {
  background: url('./source/icons/icon-arrow-up-white.svg') no-repeat center;
}

.heading-1 {
  color: #313131;
  font-size: 62px;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 50px;
}

.heading-2 {
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 50px;
}

.text-1 {
  font-size: 30px;
  line-height: 1.3;
}

.text-warning {
  color: #FF582A;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}

.text-accented {
  font-size: 48px;
  font-weight: 500;
  color: #FF582A;
  line-height: 1.2;
}

.top-banner {
  padding: 100px 50px 83px;
  background-color: #D6ECFF;
  padding-right: 500px;
  position: relative;
  margin-bottom: 106px;
}

.top-banner__heading {
  padding-bottom: 52px;
}

.top-banner__image {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 101%;
}

.info-section {
  padding-bottom: 150px;
}

.info-section__heading {
  padding-bottom: 140px;
}

.info-section__image {
  width: 460px;
  height: 460px;
  border-radius: 40px;
  background: url('./source/icons/Frame.svg');
  background-size: 100%;
  background-position: center;
  color: transparent;
}

.info-section__flex {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 170px;
}

.section-level-info {
  padding-bottom: 120px;
}

.section-level-info__text {
  padding-bottom: 50px;
}

.section-level-info__text-accented {
  padding-bottom: 50px;
}

.section-level-info__block-decoration {
  padding-right: 620px;
  position: relative;
}

.section-level-info__decoration {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}

.section-steps {
  background-color: #D6ECFF;
  margin-bottom: 100px;
  padding: 76px 50px 100px;
}

.section-steps__grid-table-item {
  grid-template-columns: max-content max-content;
  display: grid;
  gap: 86px;
  padding: 70px 0;
  border-top: 1px solid white;
}

.section-steps__grid-table-item:first-child {
  border: none;
  padding-top: 0;
}

.section-steps__grid-table-item:last-child {
  padding-bottom: 0;
}

.section-tasks {
  display: grid;
  gap: 90px;
  grid-template-columns: max-content 1fr;
  padding-bottom: 130px;
  position: relative;
}

.section-tasks__img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
}

.section-recruitment {
  padding: 70px 50px 90px;
  background: url('./source/icons/svg-illustration-decor-3.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: #D6ECFF;
  margin-bottom: 110px;
}

.section-recruitment__list {
  display: grid;
  gap: 50px;
  padding-top: 60px;
}

.section-recruitment__list li {
  display: grid;
  grid-template-columns: max-content 780px;
  gap: 40px;
}

.section-academy {
  position: relative;
  padding-bottom: 100px;
}

.section-academy__heading {
  max-width: 825px;
  padding-bottom: 80px;
}

.section-academy__logo {
  width: 461px;
  position: absolute;
  top: 0;
  right: 58px;
}

.section-junior {
  padding: 56px 50px 66px;
  color: white;
  background: url('./source/icons/svg-illustration-decor-4.svg') no-repeat;
  background-position: right;
  background-size: contain;
  background-color: #0077FF;
  margin-bottom: 100px;
}

.section-junior * {
  color: white;
}

.section-peculiarities {
  background-image: url('./source/icons/svg-illustration-decor-5.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
}

.section-peculiarities__heading {
  padding-bottom: 70px;
}

.section-peculiarities__grid-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 125px;
  padding-bottom: 100px;
}
