@font-face {
  font-family: "vk-sans-display";
  font-style: normal;
  font-weight: 400;
  src: url('./vk-sans-display/VK-Sans-Display-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "vk-sans-display";
  font-style: normal;
  font-weight: 500;
  src: url('./vk-sans-display/VK-Sans-Display-Medium.ttf') format('truetype');
}
@font-face {
  font-family: "vk-sans-display";
  font-style: normal;
  font-weight: 600;
  src: url('./vk-sans-display/VK-Sans-Display-Demibold.ttf') format('truetype');
}